extends layout 

block content 
  h1= title 

  form(method="POST" action="")
    div.form-group
      label(for="category") Category: 
      input#category.form-control(type="text" placeholder="Category name" name="category"
      required="true" value=(undefined===category ? "" : category.name))
    button.btn.btn-primary(type="submit") Submit
  if errors 
    ul 
      for error in errors 
        li!= error.msg